{% extends "include/customer-dash.html" %}
{% load static %}

{% block content %}
<section class="section">
    <div class="container">
<div class="header">
    <h1 class="title is-3">
       Ваші замовлення 
    </h1>
</div>

<div class="tabs is-boxed">
    <ul>
        <li><a href="{% url 'customer:customer_orders' %}">Замовлення</a></li>
    </ul>
</div>

<div class="box">
    <h2 class="title is-4">Список ваших замовлень</h2>

    <div class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Книги</th>
                    <th scope="col">Всього</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.pk }}</td>
                        <td>
                            <ul>
                                {% for item in order.orderitem_set.all %}
                                    <li>
                                        {{ item.name }} - {{ item.quantity }} x {{ item.price }} 
                                        (Всього: {{ item.products_price }})
                                    </li> 
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ order.total_amount }}</td>  
                        <td>{{ order.created_at|date:"d M Y" }}</td>
                        <td class="status-{{ order.status|lower }}">{{ order.status }}</td>
                        <td>
                            <a href="{% url "customer:customer_orders_details" order.id %}"  class="button is-link is-light">
                                Деталі
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="has-text-centered">Немає замовлень</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}