{% extends "include/store-dash.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<article class="box">
<h2 class="title is-4">Форма для додавання книжок</h2>

<div class="container">
    <form action="{% url "store:add_books" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="column is-12">

            <article class="box">
                <p class="is-size-6 hast_text-centerd">Опис книги</p>
                <fieldset>
                    {{ book_form|crispy }}
                </fieldset>
            </article>

            <article class="box">
                <p class="is-size-6 hast_text-centerd">Опис книги</p>
                <fieldset>
                    {{ image_formset.management_form }}
                    {% for form in image_formset %}
                    {{ form|crispy }}
                    {% endfor %}
                </fieldset>
            </article>

            <article class="box">
                <p class="is-size-6 has-text-centered">Опції доставки</p>
                <fieldset>
                  {{ delivery_multi_formset.management_form }}  
                  {% for form in delivery_multi_formset %}
                    <div class="field">
                      <label for="{{ form.delivery_option.id_for_label }}"></label>
                      {{ form.delivery_option|as_crispy_field }}
                    </div>
              
                    <div class="field">
                      <label for="{{ form.country.id_for_label }}"></label>
                      {{ form.country|as_crispy_field }} 
                    </div>
              
                    <div class="field">
                      <label for="{{ form.region.id_for_label }}"></label>
                      {{ form.region_multiple|as_crispy_field }}
                  </div>
              
                    <div class="field">
                      <label for="{{ form.city.id_for_label }}"></label>
                      {{ form.city_multiple|as_crispy_field }}  
                    </div>
                  {% endfor %}
                </fieldset>
              </article>
              </div>


            <div class="button is-centered">
                <div class="control">
                    <button type="submit" class="button is-link is-fullwidth">Додати книгу</button>
                </div>
            </div>

        </div>
    </form>
</div>
</article>

{{ book_form.media }}
{{ delivery_multi_formset.media }}
{{ image_formst.media }}
{% endblock content %}