{% extends "include/store-dash.html" %}
{% load static %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Аналітика проданих книжок</h1>
        
        {% if has_data %}
            <div class="box">
                <div class="columns is-multiline is-centered">
                    {% for plot in plots %}
                    <div class="column is-half">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="data:image/png;base64,{{ plot }}" 
                                         alt="Sold Books Analytics"
                                         style="width: 100%; height: auto;">
                                </figure>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="box">
                <div class="notification is-warning">
                    <div class="content has-text-centered">
                        <p class="is-size-4">
                            <i class="fas fa-exclamation-circle mr-2"></i>
                            Статистика відсутня
                        </p>
                        <p>У вас ще немає проданих книжок для формування аналітики.</p>
                        <div class="buttons is-centered mt-4">
                            <a href="{% url 'store:book_list' %}" class="button is-primary">
                                <span class="icon">
                                    <i class="fas fa-book"></i>
                                </span>
                                <span>Перейти до списку книжок</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}