{% extends "include/base.html" %}
{% load static %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4-desktop is-6-tablet">
                <div class="box">
                    <p class="title is-4 has-text-centered">Реєстрація покупця</p>
                    <form action="{% url "user:customer_signup_view" %}" method="post">
                        {% csrf_token %}
                        <div class="field">
                            <label for="id_first_name" class="label">Імʼя</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" id="id_first_name" name="first_name"
                                    placeholder="Ваше імʼя"
                                    value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                    required>
                                {% if form.first_name.errors %}
                                <div class="notification is-danger">
                                    {{ form.first_name.errors }}
                                </div>
                                {% endif %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="id_first_name" class="label">Прізвище</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" id="id_last_name" name="last_name"
                                    placeholder="Ваше прізвище"
                                    value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                    required>
                                {% if form.first_name.errors %}
                                <div class="notification is-danger">
                                    {{ form.last_name.errors }}
                                </div>
                                {% endif %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="id_username" class="label">Напишіть імʼя користувача(username)*</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" id="id_username" name="username"
                                    placeholder="Напишіть імʼя користувача"
                                    value="{% if form.username.value %}{{ form.username.value }}{% endif %}" required>
                                {% if form.username.errors %}
                                <div class="notification is-danger">
                                    {{ form.username.errors }}
                                </div>
                                {% endif %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user-tag"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="email" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input class="input" type="email" id="email" placeholder="Напишіть ваш email"
                                    name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                    required>
                                {% if form.email.errors %}
                                <div class="notification is-danger">
                                    {{ form.email.errors }}
                                </div>
                                {% endif %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="passowrd1" class="label">Пароль</label>
                            <div class="control has-icons-left">
                                <input class="input" type="password" id="password1" placeholder="Напишіть пароль"
                                    value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                                    name="password1" required>
                                {% if form.password1.errors %}
                                <div class="notification is-danger">
                                    {{ form.password1.errors }}
                                </div>
                                {% endif %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="password2" class="label">Підтвердіть пароль</label>
                            <div class="control has-icons-left">
                                <input class="input" type="password" id="password2" placeholder="Підтвердіть пароль"
                                    value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                                    name="password2" required>
                                {% if form.password2.errors %}
                                <div class="notification is-danger">
                                    {{ form.password2.errors }}
                                </div>
                                {% endif %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-check"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-link is-fullwidth">Зареєструватися</button>
                            </div>
                        </div>
                    </form>
                    <div class="has-text-centered mt-3">
                        <a href="{% url "user:login" %}" class="has-text-grey">Вже маєте аккаунт? Увійти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}